body { 
  color : #000000; 
  background : #ffffff; 
  font-family : Georgia, serif;
  font-size : 12pt; 
}

a { 
  text-decoration : underline; 
  color : #00ff77; 
}

a:link:after, a:visited:after {
content: " (" attr(href) ") ";
font-size: 70%;
}

nav, sidebar, footer, header, aside { 
  display : none; 
}
